[report]
omit =
    docs/*
    tests/*
    */tests/*
    *__init__*
    modspectra/conftest.py
    modspectra/version.py
    modspectra/cython_version.py
    modspectra/_astropy_init.py

exclude_lines =
    pragma: no cover
    raise NotImplementedError
    raise ImportError
    except ImportError
    def __len__
    def __repr__
    logging.warn
    deprecation_warning
    deprecated
